@-ms-viewport{
  width:auto!important;
}

@font-face {
  font-family: SegoeUI-Semi-Bold;
  src: url('../fonts/SegoeUI/semibold.eot') format("woff2"), url('../fonts/SegoeUI/semibold.woff') format("woff"), url('../fonts/SegoeUI/semibold.ttf') format("truetype") ;
}

@font-face {
  font-family: SegoeUI-Semi-Light;
  src: url('../fonts/SegoeUI/semilight.eot') format("woff2"), url('../fonts/SegoeUI/semilight.woff') format("woff"), url('../fonts/SegoeUI/semilight.ttf') format("truetype") ;
}

@font-face {
    font-family: Open-Sans-Cond-Light;
    src: url('../fonts/OpenSansCondensed/OpenSans-CondLight.ttf'), url('../fonts/OpenSansCondensed/OpenSans-CondLight.eot');
}

@font-face {
    font-family: Open-Sans-Cond-Bold;
    src: url('../fonts/OpenSansCondensed/OpenSans-CondBold.ttf'), url('../fonts/OpenSansCondensed/OpenSans-CondBold.eot')
}

@font-face {
    font-family: Open-Sans-Regular;
    src: url('../fonts/OpenSansRegular/OpenSans-Regular.ttf'), url('../fonts/OpenSansRegular/OpenSans-Regular.eot');
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.row-footer {
  margin: 0px;
}
.carousel {
  background: #ffffff;
}
.carousel .item {
  height: 300px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}

address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  padding: 0;
  z-index: 0;
  overflow-x: hidden;
  font-family:  SegoeUI-Semi-Light;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
.no-data {
  font-size: 20px;
  font-weight: bold;
  margin: 30px 100px;
}
.userselection {
  border-bottom: 0px solid #ccc;
  overflow: auto;
  background-color: #e6e6e6;
  padding: 0 0 0 10px;
  margin-top: 15px;
}
.ov-no-padding {
  padding: 0;
}

.ov-pull-right {
  float: right;
}

.form-control {
    color: #333;
}